@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CustomFont';
  src: url('/src/assets/fontAr.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'cairo', 'IBM Plex Sans Arabic', sans-serif;
  background-color: #003d36;
  font-family: CustomFont;
}
.bg-lightGreen {
  background-color: #92d240;
}
.text-lightGreen {
  color : #92d240;
}
.absolute-full {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}
.h2-5 {
  font-size: 2.5rem;
  line-height: 3.75rem;
}
.leading-relaxed {
  line-height: 1.625;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(0 105 95/ var(--tw-bg-opacity));
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.group:hover .group-hover\:flex {
  display: flex;
  pointer-events: auto;
  padding: 10px 0;
}
.group:hover .group-hover\:visible {
  visibility: visible;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}


.bg-primary\/80 {
  background-color: rgba(0, 105, 95, .8);
}

.aspect-\[18\/16\] {
  aspect-ratio: 18 / 16;
}


.svg-bg{
  clip-path: polygon(51% 0, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}



.organizational-slider .swiper-button-next,
.organizational-slider .swiper-button-prev {
  color: #10b981; /* emerald-500 */
}

.organizational-slider .swiper-button-next::after,
.organizational-slider .swiper-button-prev::after {
  font-size: 24px;
}
.swiper {
  height: 100% !important;
}

.swiper-wrapper {
  height: 100% !important;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 30% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  border-radius: 2px !important;
  background-color: white !important;
  opacity: 0.5 !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  width: 32px !important;
}


.fade-in-section {
  opacity: 0; 
  transform: translateX(50px);
  transition: all 0.2s ease-in;
}
